html,body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
html{
	font-size: 100px;
}
img{width:100%;max-width: 100%;}
ul{list-style: none;}
ul,li{margin: 0;padding: 0;}
.swiper-container{
	width:100%;
	height:100%;
	overflow:hidden;
}
.swiper-slide{
	position:relative;
	height:100%;
	overflow:hidden;
}
.page1{
	background: url(../images/page1-bg.gif) no-repeat;
	background-size: 100% 100%;
}
.page2{
	background:#FFF;
}
.page3{
	background:#0d2b4c;
}
.page4{
	background:#fff;
}

.page1 .start{
	position: absolute;
	width:4.4rem;
	left:1.18rem;
	top:1.3rem;
}
.page1 .xiangjiao{
	position: absolute;
	width:3.2rem;
	left:1.6rem;
	bottom:2.75rem;
}
.page2 .wenzi1{
	position:absolute;
	width:2.5rem;
	left:2rem;
	top:1.3rem;
}
.page2 .wenzi2{
	position: absolute;
	width:4.84rem;
	left:0.8rem;
	top:2.07rem;
}
.page2 .img{
	position:absolute;
	width:6.11rem;
	left:50%;
	margin-left:-3.055rem;
	top:3.8rem;
}
.page2 .wenzi3{
	position:absolute;
	width: 3.63rem;
	left:50%;
	margin-left:-1.815rem;
	bottom:1.3rem;
}
.page2 .wenzi4{
	position:absolute;
	width: 2.58rem;
	left:50%;
	margin-left:-1.29rem;
	bottom:0.9rem;
}
.page3 .img{
	width:100%;
	height:7rem;
	background: url(../images/page3-img_01.jpg) no-repeat;
	background-size:100% 100%;
}
.page3 .wenzi1{
	position:absolute;
	width:100%;
	height:1.65rem;
	top:2.5rem;
	background: url(../images/page3-wenzi1_02.png) no-repeat;
	background-size: 100% 100%;
}
.page3 .wenzi2{
	position:absolute;
	width:100%;
	height:0.79rem;
	bottom:1.7rem;
	background: url(../images/page3-wenzi2_03.png) no-repeat;
	background-size: 100% 100%;
}
.page3 .wenzi3{
	position:absolute;
	width:100%;
	height:1.04rem;
	bottom:0.4rem;
	background: url(../images/page3-wenzi3_03.png) no-repeat;
	background-size: 100% 100%;
}
.page4 .img-list{
	position: absolute;
	width:95.15625%;
	left:0.15rem;
	top:0.12rem;
	overflow: hidden;
}
.page4 .img-list li{
	float: left;
	width:32.6%;
	height: 4.66rem;
	background: #ccc;
}
.page4 .img-list li:nth-child(2){
	margin:0 0.06rem;
}
.jieshao.wenzi1{
	position:absolute;
	left:0;
	top:5.42rem;
	width:100%;
	height:0.76rem;
	background: url(../images/p4-wenzi1_02.png) no-repeat;
	background-size: 100% 100%;
}
.jieshao.wenzi2{
	position:absolute;
	left:0;
	top:6.74rem;
	width:100%;
	height:0.26rem;
	background: url(../images/p4-wenzi2_04.png) no-repeat;
	background-size: 100% 100%;
}
.jieshao.wenzi3{
	position:absolute;
	left:0;
	top:7.14rem;
	width:100%;
	height:0.2rem;
	background: url(../images/p4-wenzi3_06.png) no-repeat;
	background-size: 100% 100%;
}
.jieshao.wenzi4{
	position:absolute;
	left:0;
	top:7.46rem;
	width:100%;
	height:0.19rem;
	background: url(../images/p4-wenzi4_08.png) no-repeat;
	background-size: 100% 100%;
}
.jieshao.wenzi5{
	position:absolute;
	left:0;
	top:8rem;
	width:100%;
	height:0.55rem;
	background: url(../images/p4-wenzi5_10.png) no-repeat;
	background-size: 100% 100%;
}
.jieshao.wenzi6{
	position:absolute;
	left:0;
	top:8.9rem;
	width:100%;
	height:0.56rem;
	background: url(../images/p4-wenzi6_12.png) no-repeat;
	background-size: 100% 100%;
}
.page5 .img{
	position:absolute;
	background-size: 100% 100%;
}
.page5 .img1{
	top:0;
	left:0;
	width: 1.99rem;
	height: 2.46rem;
	background: url(../images/page5-img1_01.png) no-repeat;
}
.page5 .img2{
	top:2.46rem;
	left:0;
	width: 1.99rem;
	height: 2.36rem;
	background: url(../images/page5-img2_04.png) no-repeat;
}
.page5 .img3{
	top:0;
	right:0;
	width: 4.35rem;
	height: 4.82rem;
	background: url(../images/page5-img3_03.png) no-repeat top right;

}
.page6 .img1{
	position:absolute;
	width:100%;
	height:3.59rem;
	top:0;
	left:0;
	background: url(../images/p6-img1_01.png) no-repeat;
	background-size: 100% 100%;
}
.page6 .img2{
	position:absolute;
	width:3.12rem;
	height:3.96rem;
	top:0.79rem;
	left:0;
	background: url(../images/p6-img2_02.png) no-repeat;
	background-size: 100% 100%;
}
.page6 .img3{
	position:absolute;
	width:4.89rem;
	height:3.04rem;
	top:1.71rem;
	right:0;
	background: url(../images/p6-img3_05.png) no-repeat;
	background-size: 100% 100%;
}




